body {
    background-color: black;
}

.form {
    background-color: black;
    color: white;
    border: 5px black solid;
    padding: 5% 20% 5% 20%;
    margin: 10%;
}

h1 {
    text-align: center;
}